.filter-area{
    border-bottom: 1px solid;
    padding:10px;
    height: 80px;
    background: rgb(230, 230, 230);
}
.row{
    padding:5px;
}

.col-md-2{
    padding:7px;
}
.box{
    width: 225px;
    height:180px;
    border: 1px solid rgb(2, 202, 142);
    background: rgb(2, 202, 142);
    color: rgb(102, 98, 98);
}

.box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    cursor:pointer;
  }    
.box-header{
    height: 40px;
    padding: 8px;
    text-align: center;
    border-bottom: 1px   solid rgb(76, 218, 140);

}
.box-body{
    padding:8px;
    color: rgb(255, 242, 242);
}
.box-footer {
    float: right;
    color:white;
    margin-right:10px;
    border: 1px solid transparent;
}
 .unlock{
  background-image: url("/assets/unlock.svg"); 
  background-size: 20px;
  width:20px;
  float:right;
  height: 20px; 
}
.lock{
    background-image: url("/assets/lock.png"); 
    background-size: 17px;
    width:17px;
    float:right;
    height: 17px; 
  }

SELECT{
    float: right;
    line-height: 1.5;
}

.footer{
    border-top: 1px solid rgb(230, 230, 230);
}

