<div class="container-fluid ">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <select>
        <option value="" selected disabled hidden>Choose here</option>
        <option value="Employee">AssetID: 14</option>
        <option value="Student">AssetId: 15 </option>
        <option value="Employee">AssetID: 16</option>
        <option value="Student">AssetId: 17</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 " *ngFor="let res of result">
      <div class="box">
        <div class="box-header">
          <strong>Asset ID: {{res.assetId}}</strong>
        </div>
        <div class="box-body">
          <p>Author : {{res.authorId}}</p>
          <p>Org : {{res.organization}}</p>
        </div>
        <div class="box-footer">
          <p   [ngClass]="{'unlock': res.status == 'Approved', 'lock': res.status == 'Submitted'}"></p>
     
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">

  <nav aria-label="Page navigation example">
    <ul class="pagination">  
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

</footer>