<div class="container-fluid ">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
     
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      
      <div class="form-inline" >
        
        <div class="form-group mx-sm-3 mb-2">
          <label for="url" class="sr-only">URL</label>
          <input [(ngModel)]="url" requiredtype="url" class="form-control" id="url" placeholder="Enter Url to Parse">
        </div>
        <button type="submit" class="btn btn-primary mb-2" (click)="ParseUrl()"> Parse</button>
      </div>
      
  
  </div>
</div>

<div class="row" *ngIf="urlParsed">

  <div class="col-md-3">
    <h2>Parsed Url</h2>
    <p>Original: {{ url }}</p>
    <p>Tokens: {{queryString|json}}</p>
    
    

</div>
</div>
<footer class="footer">

 
</footer>