<!-- <div class="row filter-area">
        <div class="col-md-6">
          <h2>Logo</h2>
           
        </div>
        <div class="col-md-6">  
         
      </div>
    </div> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top ">
        <a class="navbar-brand"  routerLink="/home">SDS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link"  routerLink="/data">Stream </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/connectors">Connectors</a>
            </li>
          </ul>
          
        </div>
      </nav>

    <router-outlet></router-outlet>