<div class="container-fluid ">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <select>
                <option value="" selected disabled hidden>Choose here</option>
                <option value="Employee">Employee list</option>
                <option value="Student">Student list</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2" *ngFor="let res of result">
            <div  *ngIf="res.studentName && res.studentId" class="box">
                <div class="box-header">
                    <strong >Student Card</strong>
                </div>
                <div class="box-body">
                    <p >Student Name: {{res.studentName}}</p>
                    <p>Student Id: {{res.studentId}}</p>
                </div>
                <div class="box-footer"></div>
            </div>
            <div  *ngIf="res.empName && res.empId" class="box">
                    <div class="box-header">
                        <strong >Employee Card</strong>
                    </div>
                    <div class="box-body">
                        <p *ngIf="res.empName">Employee Name: {{res.empName}}</p>
                        <p *ngIf="res.empId">Employee Id: {{res.empId}}</p>
                    </div>
                    <div class="box-footer"></div>
                </div>
        </div>
    </div>


</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Place Pagination here.</span>
    </div>
</footer>