.filter-area{
    border-bottom: 1px solid;
    padding:10px;
    height: 50px;
    background: rgb(230, 230, 230);
}
.row{
    padding:5px;
}

.col-md-2{
    padding:7px;
}
.box{
    width: 225px;
    height:180px;
    border: 1px solid rgb(250, 208, 20);
 
    background: rgb(250, 208, 20);
    color: rgb(102, 98, 98);
}
.box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    cursor:pointer;
  }    
.box-header{
    height: 40px;
    padding: 8px;
    text-align: center;
    border-bottom: 1px   solid rgb(219, 198, 103);

}
.box-body{
    padding:8px;
    color: rgb(129, 129, 129);
}

SELECT{
    float: right;
    line-height: 1.5;
}

.footer{
    border-top: 1px solid rgb(230, 230, 230);
}